.navContainer {
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
}

.navBar {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  display: flex;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
}

@media (min-width: 890px) {
  .navBarExpand {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.navBarBrand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navBarCollapse {
  margin-right: 40px;
  flex-grow: 0;
  align-items: center;
}

.navBarUl {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

@media (min-width: 890px) {
  .navBarUl {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 890px) {
  .navBarCollapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbarItem {
  white-space: nowrap;
}

@media (min-width: 890px) {
  .navbarItem {
    margin: 0 23px;
  }
}

.navLink {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'P22', sans-serif;
  letter-spacing: -.54px;
  color: #293F4C;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  /* display: block; */
  padding: .5rem 1rem;
  padding-right: 0;
  padding-left: 0;
  text-decoration: none;
}

.navBarSearch {
  color: #E26447 !important;
  cursor: pointer;
}